.navbar {
    padding: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align-last: center;


}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
}

.navbar-brand {
    color: #3C6978;
    font-size: 60px;
}

.navbar-nav .nav-link {
    color: #3C6978;
    margin-right: 15px;
    text-align: center;
        font: bold;
}

.navbar-nav .nav-link:hover {
    color: #82AAAA;
       font: bold;
}